#contenedor #cabecera{
	background: #00529A;
	width: 100%;
	haieght: 120px;
	border-rddius: 10px;
}

.artigo p{
	color: blue;
	background: aliceblue;
}

#principal{
	clear: left;
    margin-right: 50%;
}

#contenedor #cabecera #buscardor {
		float: right;
		padding-top: -40px;
		color: white;
}

#contenedor #cabeceira #titulazo {
		clear: Left;
		padding-left: 3%;
		padding-top: 3%;
		color:
		color: white,
        text-align



		